body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;


}
body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: beige;
    border-bottom: 1px solid #e7e7e7;
}
#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
#home-link {
    text-decoration: none;
    color: inherit;
}

#logo {
    width: 150px;
    height: auto;
}

nav button{
    padding:10px 100px;
    margin-left:10px;
    background-color: #4caf50;
    color:white;
    border:none;
    cursor: pointer;
}

#map {
    width: 100%;
    max-width: 1400px;
    height: 500px;
    background-color: #e9e9e9;
    text-align: center;
    line-height: 500px;
    color: #777;
}
footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: beige;
    border-top:1px solid #e7e7e7;

}

#theme-selector {
    margin-left: 10px;
}

#theme-selector-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

body.theme-light {
    background-color: #ffffff;
    color: #000000;
}

body.theme-dark {
    background-color: #000000;
    color: #ffffff;
}


.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 250px; /* Adjust the width as needed */
    max-height: 250px;
    cursor: pointer;
}

/* Style pour l'image à l'intérieur de la popup*/
.popup-content img {
    max-width: 100%; /* Rend l'image réactive */
    height: auto;
    display: block;
}


.popup-text-content {
    color: white;
    z-index: 3;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); /* Pour augmenter la lisibilité du texte */
}

.popup-link {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    #header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    #theme-selector-container {
        margin-top: 10px;
        margin-left: 0;
    }

    #map {
        width: 100%;
        height: 300px;
        line-height: 300px;
    }

    .nav-btn {
        margin: 10px 0;
    }
}


.nav-btn{
    padding: 10px 20px;
    margin:0 10px;
    background-color:#333;
    color:white;
    border : none;
    cursor: pointer;
}


#advertisements{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 20px 0;
    justify-content: center;
    width: 100%;  // Tüm genişlik
}

#ads-container{
    display: flex;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    transition: transform 0.3s ease;
    scroll-behavior: smooth;
}

.ad {
    flex-shrink: 0;
    display: inline-block;
    width: 10cm;
    height: 5cm;
    overflow: hidden;
    position: relative;
    margin: 10px;
    background-size: cover;
    background-position: center;

}
#adsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.ad-img-visible {
    position: relative;
    flex: 0 1 calc(50% - 20px); /* 50 de largeur, espacement de 20px */
    height: 250px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ad-img-visible:hover {
    transform: scale(1.05); /* Hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /*  efect */
}
/*
.ad-content {
    width: 100%;
    height: 100%;
    position: relative;
} */
.ad-content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .ad-img-visible {
        flex: 0 1 100%; /* Pleine largeur sur petits écrans */
    }
}

.ad-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Les dimensions de l'image sont ajustées pour s'adapter à la boîte */
}
.ad img {
    display: none;
}

.ad-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fond translucide */
    color: white;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.scroll-btn{
    background: none;
    font-size: 24px;
    border:none;
    cursor: pointer;
}
.scroll-btn.left {
    left: 10px;
}

.scroll-btn.right {
    right: 10px;
}

/* Medias */
@media (max-width: 600px) {
    #ads-container {

        overflow-x: hidden;
        overflow-y: auto;
    }

    .ad {
        width: 100%;
        margin: 5px 0;
    }
}

@media (max-width: 800px) {


    header {
        flex-direction: column;
        text-align: center;
    }

    #content {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 14px;  /* Réduit la taille de la police sur les petits écrans */
    }

    header, footer {
        padding: 5px;
    }
}
#navbar {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
}

#navbar-right {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between elements */
}

#navbar-right button {
    margin: 0;
}

@media (max-width: 600px) {
    #navbar {
        flex-direction: column;
    }

    #navbar-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px; /* Space between elements in column layout */
    }
}



.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* arrière-plan contextuel */
.popup-background {
    display: none; /* initialement invisible */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond noir transparent */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}



/* bouton d'envoi */
.popup-form button[type="submit"] {
    background-color: #5cb85c; /* fond vert */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Effet de survol du bouton Envoyer */
.popup-form button[type="submit"]:hover {
    background-color: #4cae4c; /* vert plus foncé */
}

#login-popup .popup-container
/* Contexte général du popup */
.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

/* Conteneur de contenu contextuel */
.popup-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); /
    width: 40%; /* Popup genişliği */
    max-width: 450px; /* Maksimum genişlik */
    margin: auto; /* Otomatik merkezleme */
}


.popup-title {
    color: #333333;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


/* Éléments de formulaire */
.popup-form input[type="text"],
.popup-form input[type="email"],
.popup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}


.popup-form input[type="submit"] {
    width: 100%; /* Buton genişliği */
    padding: 10px;
    border: none;
    background-color: #5cb85c; /* Buton arka plan rengi */
    color: white; /* Buton yazı rengi */
    border-radius: 4px; /* Buton yuvarlaklığı */
    cursor: pointer; /* İmleç */
}
/* bouton d'envoi */
.popup-form button[type="submit"] {
    background-color: #5cb85c; /* fond vert */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Effet de survol du bouton Envoyer */
.popup-form button[type="submit"]:hover {
    background-color: #4cae4c; /* vert plus foncé */
}


.popup-form input[type="submit"]:hover {
    background-color: #4cae4c; /
}

#main-content{
    /*height: 500px;*/
    background-color: #e9e9e9;
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mapboxgl-popup {
    max-width: 100px;
}

/* sur map */
/* Style for the popup content */

.ad{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ad:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/*  Pop-up qui s'ouvre lorsque vous survolez les annonces de la page d'accueil */
.ad-popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 10;
    display: none;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: opacity 0.3s;
}

/*messages*/
#messaging-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    background: white;
    border: 1px solid #ccc;
    display: none; /* Initially hidden */
}

#messaging-panel.hidden {
    display: none;
}

#messages-container {
    height: 200px;
    overflow-y: scroll;
}

.chat-header {
    background: #f1f1f1;
    padding: 5px;
    text-align: center;
}

.chat-input {
    padding: 5px;
}

.chat-input input {
    width: 70%;
    padding: 5px;
}

.chat-input button {
    width: 25%;
    padding: 5px;
}

/*mail*/
.suggestions {
    position: relative;
    display: none;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 100px;
    overflow-y: auto;
    z-index: 1000;
}
.suggestions div {
    padding: 8px;
    cursor: pointer;
    color : black;
}
.suggestions div:hover {
    background: #f0f0f0;
}



